# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = company_resume_51job.settings

[deploy]
#url = http://localhost:6800/
project = company_resume_51job
